body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    /* background-color: #ffce46; */
    background-color: rgba(255, 206, 70, 0.5);
    color: rgb(8, 7, 7);
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0;
    font-size: 1.2rem;
}

main {
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: #ffce46;
    color: rgb(0, 0, 0);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #e5b32b;
}

.results-container {
    background-color: rgba(255, 206, 70, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results-container h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

li {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

a {
    text-decoration: none;
    color: #007bff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

span {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

.carousel-container {
    width: 100%;
    padding: 40px 0;
    background-color: rgba(255, 206, 70, 0.5)
;
}

.owl-carousel .item {
    padding: 15px 0;
    margin: 5px;
    width: 100%;
    height: 100%;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
}

.owl-carousel .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hide-carousel {
    display: none;
}